html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.headerBackground {
    background-image: url('../public/images/header/Header-background.png');
    background-position: center;
    height: 60vh;
    max-height: 460px;
}

.bodyBackground {
    background-image: url('../public/images/main/mainBackground.png');
}

.cardBackground {
    background-image: url('../public/images/homePage/cardBackground.jpg');
}